:root{
    --main-background-color: #221c35;
    --main-color: #31AFD4;
    --secondary-color: #D84727;
    --foreground-color:#FCDDF2;
    --off-white: #eedddd;
}
html {

  scroll-behavior: smooth;
}
body{
    font-size: 20px;
    background-color: var(--main-background-color);
    color: var(--off-white);
    font-weight:bolder;
    font-family: "Roboto", sans-serif;
    overflow: none;   
}
h1{
  text-align: center;
}
b{
  color: var(--secondary-color);
  font-weight: 13px;
}
b1{
  color: var(--main-color);
  font-weight: 13px;
  
}
.home{
  width: 3%;
  height: 3%;
  filter: invert(0.9);
  margin-left: 1%;
  margin-top: 1%;
  position: absolute;
  transition:400ms;

}
.home:hover{
  width: 4%;
  height: 4%;
}
#title{
    font-size: 2rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    transition: 400ms;
    width: 30%;
    
}
#title-heat, #title-hydro{

  display: inline-block;
  text-align: left;
  color: var(--secondary-color);
  transition: 400ms;
}
#title-hydro{
  
  text-align: right;
  float: left;
  width:51%;
  color: var(--main-color)
}
#title:hover #title-hydro{
  transform: translate(-100px, 0px);
}
#title:hover #title-heat{
  transform: translate(100px, 0px);
}
#sub-text, #sub-sub-text{
    text-align: center;
    width: 80%;
    margin: auto;
    margin-bottom: 2%;
}
#sub-sub-text{
    font-size: 1rem;
}

#problem-text{
  text-align: left;
  width: 50%;
}
 
#solution-text{
  text-align: left;
  width: 50%;
  float: right;
}
#solution-image-div{
  display: inline-block;
  width: 50%;
  
}
#solution-image{
  width:90%;
  margin-top:30%;
  margin-bottom: 30%;
}

#solution-section{
  margin-top: 10%

}