:root{
  --main-background-color: #221c35;
  --main-color: #31AFD4;
  --secondary-color: #D84727;
  --foreground-color:#FCDDF2;
  --off-white: #eedddd;
}
html{
  scroll-behavior: smooth;
  overflow: scroll;
  overflow-x: hidden;

}
::-webkit-scrollbar {
  background: transparent;  /* Optional: just make scrollbar invisible */
}
section{
  display: grid;
  min-height: 100vh;
}
.hidden{
  opacity: 0;
  transition: all 1s;
  opacity:1;
  transform: translateX(90%);
}
.show{
  transform: translateX(2%);
}

body {
    background-color: var(--main-background-color);
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    color: var(--off-white)
}

#logo {
    width: 10%;
    position: absolute;
    top: 11%;
    left: 9%;
}



#menu{
    display:flex;
    align-items: center;
    height:100vh;
    margin-bottom: 10vh;
    color: var(--off-white)
}

#menu[data-active-index="0"] > #menu-background-image {
  background-position: center 30%;
}

#menu[data-active-index="1"] > #menu-background-image {
  background-position: center 35%;
}

#menu[data-active-index="2"] > #menu-background-image {
  background-position: center 40%;
}

#menu[data-active-index="3"] > #menu-background-image {
  background-position: center 45%;
}
#menu[data-active-index="4"] > #menu-background-image {
  background-position: center 50%;
}

#menu[data-active-index="0"] > #menu-background-pattern {
    background-position: 10% -50vmin;
  }
  
  #menu[data-active-index="1"] > #menu-background-pattern {
    background-position: 10% -100vmin;
  }
  
  #menu[data-active-index="2"] > #menu-background-pattern {
    background-position: 10% -150vmin;
  }
  
  #menu[data-active-index="3"] > #menu-background-pattern {
    background-position: 10% -200vmin;
  }
  #menu[data-active-index="4"] > #menu-background-pattern {
    background-position: 10% -250vmin;
  }


  

#menu-items {
  color:var(--off-white);
  font-size:clamp(2rem, 6vw, 6rem);
  
    margin-left: clamp(3rem, 20vw, 48rem);
    position: relative;
    z-index:2;
    transform: translateY(-1%);
}

#menu-items:hover > .menu-item{
    opacity: 0.3;
}

#menu-items:hover > .menu-item:hover{
    opacity:1;

}
.menu-item{
    color:var(--off-white);
    font-size:clamp(2rem, 6vw, 6rem);
    
    display: block;
    text-decoration: none;
    padding: clamp(0.25rem, 0.5vw, 1rem)0rem;
    transition: opacity 400ms ease;
}

#menu-background-pattern {
    background-image: url("media/HydroHeatLogo.png");
    opacity: 0.1;
    background-repeat:repeat-y, space;
    
    
    background-position: 10% 40%;
    background-size: 60vmin 60vmin;
    height: 100vh;
    left: 0px;
    position: absolute;
    top: 0px;
    transition: opacity 800ms ease, 
      background-size 2000ms ease,
      background-position 800ms ease;
    width: 100vw;
    z-index: -1;
    -webkit-filter: grayscale(70%);
    filter: grayscale(70%);
    box-shadow: 0 0 50px 50px var(--main-background-color) inset;

  }
  #menu-background-image{
    height: 100vh;
    width: 100vw;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    background-image: url("media/menuImage3.jpg");

    position: absolute;
    left: 0px;
    top: 0px;
    z-index:-1;
    
    background-position: center 40%;
    opacity: 0.15;
    box-shadow: 0 0 50px 50px var(--main-background-color) inset;
    
    transition: all 500ms ease,
      opacity 800ms ease,
      background-size 2000ms ease,
      background-position 800ms ease;

  }

#menu-items:hover ~ #menu-background-image {
    opacity: 0.1;
}

#menu-items:hover ~ #menu-background-pattern {
    background-size: 70vmin 70vmin;
    opacity: 0.3;
}
#main-name{
  margin:0;
  font-size: 1.5em;
  color:rgb(168, 225, 238);
  display: inline;
  float: left;
  transition: 400ms;
}

#main-name-heat{

  font-size: 1.5em;
  color:var(--secondary-color);
}

#controls{
  height: 100vh;
}
#controls-title{
  font-size: 4rem;
  text-align: center;
  font-family: 'Exo', sans-serif;
  width: 50%;
  margin: auto;
  text-align: center;

}

.temp-chart-container{
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-bottom: 0%;
  margin-top: 5%;
  }


  .home{
    width: 3%;
    height: 3%;
    filter: invert(0.9);
    margin-left: 1%;
    margin-top: 1%;
    position: absolute;
    transition:400ms;
  
  }
  .home:hover{
    width: 4%;
    height: 4%;
  }
  #curve_chart{
    height: fit-content;
  }
  #curve_chart text {
    fill: white !important;
}