body{
    background-color: rgb(59, 59, 59);
    color: rgb(255, 255, 255);
    size: 50px;
    text-align: center;
    font-family: 'Roboto';
}
#title{
  font-weight: bold;
  font-size: 3em;
}
#left{
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;

  margin: auto;
}
#right{
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  margin: auto;

}
#visual{
  margin: auto;
  margin-top: 5%;
  display: flex;
  width: 20%;
}
#inputbox{
  position: absolute;
  z-index: 9;
  width: 90%;
  margin:auto;
  border:none;
  background-color: #3b3b3b;
  margin-bottom: 3%;
  font-size: 7rem;
  color: white;
  transition: 0.4s;
  text-align: center;
  opacity: 0;
  left: 0;
  right:0;
}
#inputcontainer{
  display:flex;
}
#inputbutton{
  margin-top: 5%;
  background-color: #00aeff;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 1rem;
  border: 0px solid #00aeff;
  border-radius: 10%;
  transition: 300ms;
  opacity: 1;
}
#inputbutton:hover{
  /*background-color:rgb(100, 100, 100);*/
  /*color:rgb(59, 59, 59)*/
  cursor: pointer;
  opacity: 0.7;
}

#playbutton{
  margin-top: 5%;
  background-color: #00aeff;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 1rem;
  border: 0px solid #00aeff;
  border-radius: 10%;
  transition: 300ms;
  opacity: 1;
}

#playbutton:hover{
  /*background-color:rgb(100, 100, 100);*/
  /*color:rgb(59, 59, 59)*/
  cursor: pointer;
  opacity: 0.7;
}

#title{
  font-size: 2rem;
}

#BPM{
  margin: auto;
  margin-bottom: 3%;
  font-size: 7rem;
  position: relative;
}
#slidebox{
  display: flex;
  margin:auto;

}
#minus{
  background: rgba(255, 255, 255, 0);
  border:rgb(59, 59, 59);
  float: left;
  cursor: pointer;
  color:white;
  font-size: 3em;
  justify-content: center;
  margin-bottom: 8px;
  padding: 0.6em;
  transition: 200ms;
}
#metronome{
  padding-right: 10%;
  padding-left: 10%;
}
#plus{
  background: rgba(255, 255, 255, 0);
  border: none;
  float: right;
  cursor: pointer;
  color:white;
  font-size: 3rem;
  justify-content: center;
  transition: 200ms;
  padding: 0.6em;
  margin-bottom: 8px;
}
#plus:hover{
  text-shadow: 0px 0px 20px 10px#00ffff;
}
#minus:hover{
  text-shadow: 0px 0px 20px #00ffff;
}

.slidecontainer {
  
    width: 100%; /* Width of the outside container */
    float: left;
    display: flex;
}
  
  /* The slider itself */
  .slider {
    margin: auto;
    justify-content: center;
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; 
    height: 10px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 1; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: .2s;
    border-radius: 5px;
    
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
    height: 15px;

  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #00aeff; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%;
    height:25px;
    transition: 0.2s;
  }
  .slider::-webkit-slider-thumb:hover {
    width: 35px;
    height: 35px;
    box-shadow: 0px 0px 20px 10px #a8ffff;

  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #00aeff; /* Green background */
    cursor: pointer; /* Cursor on hover */
    height: 25px;
    border-radius: 50%;
  }

#footer{
  margin-top: 10%;
  float: right;
}